@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
}

/*Global tags*/

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

s-pan {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* Navigation */
nav {
  background-image: linear-gradient(
      rgba(108, 94, 233, 0.3),
      rgba(245, 237, 243, 0.7)
    ),
    url('nu.jpg');
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

nav img {
  width: 150px;
  cursor: pointer;
  border-radius: 10px;
}

nav .navigation {
  display: flex;
}

#menu-btn {
  width: 30px;
  height: 30px;
  display: none;
}

#menu-close {
  display: none;
}

nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
}

nav .navigation ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}
nav .navigation ul li a.active,
nav .navigation ul li a:hover {
  color: rgb(230, 159, 8);
}

/* Home */

#Home {
  background-image: linear-gradient(
      rgba(85, 221, 126, 0.3),
      rgba(5, 4, 56, 0.7)
    ),
    url('h.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

#Home h1 {
  color: white;
  font: size 2.2rem;
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 30px;
}

#Home p {
  color: white;
  font: size 0.9rem;
  line-height: 25px;
}

#Home h2 {
  color: rgb(245, 205, 27);
  font: size 0.9rem;
  line-height: 25px;
  margin-bottom: 30px;
}

#Home .btn {
  margin-top: 50px;
}

#Home a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 10px;
}

#Home a.blue {
  color: #fff;
  background-color: rgb(21, 21, 100);
  margin-right: 60px;
}

#Home a.blue:hover {
  color: rgb(21, 21, 100);
  background-color: white;
  transition: 0.3s ease;
}

#Home a.yellow {
  color: #fff;
  background-color: rgb(245, 205, 27);
  margin-left: 60px;
}

#Home a.yellow:hover {
  color: rgb(21, 21, 100);
  background-color: white;
  transition: 0.3s ease;
}

/* features */

#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}

#features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#features .fea-box {
  background-color: #f9f9ff;
  text-align: start;
}

#features .fea-box i {
  font-size: 2.3rem;
  color: rgb(44, 44, 80);
}

#features .fea-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 59);
  padding: 13px 0 7px 0;
}

#features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 87);
}

/*department*/

#department {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}

#department .department-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#department .departments {
  text-align: start;
  background-color: #f9f9ff;
  height: 100%;
  position: relative;
}

#department .departments img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
}
#department .departments img:hover {
  height: 80%;
  transition: 0.3s ease;
}

#department .departments .details {
  padding: 15px 15px 0 15px;
}

#department .departments .details i {
  color: #fdc93b;
  font-size: 0.9rem;
}

#department .departments .cost {
  background-color: rgb(74, 74, 136);
  color: #fff;
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 100px;
}

#department .departments .cost:hover {
  color: rgb(75, 190, 100);
  background-color: rgb(255, 238, 0);
  transition: 0.3s ease;
}

/*registration */

#registration {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(
      rgba(99, 122, 168, 0.5),
      rgba(81, 91, 233, 0.5)
    ),
    url('reg.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#registration .reminder {
  color: #fff;
}

#registration .reminder h1 {
  color: #fff;
}

#registration .reminder .time {
  display: flex;
  margin-top: 40px;
}

#registration .reminder .time .date {
  text-align: center;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0px rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 0 5px 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 1.1rem;
  font-weight: 600;
}

#registration .form {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0px rgba(31, 38, 135, 0.37);
}

#registration .form input {
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid rgb(84, 40, 241);
  outline: none;
}

#registration .form input::placeholder {
  color: #413c3c;
  font-weight: 500;
  font-size: 0.9rem;
}

#registration .form .btn {
  margin-top: 20px;
}

#registration .form a.yellow {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(245, 205, 27);
  transition: 0.3s ease;
}

#registration .form a.yellow:hover {
  color: rgb(21, 21, 100);
  background-color: white;
}

/*founders*/

#founders {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}

#founders .founders-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#founders .profile img {
  background-size: cover;
  background-position: center;
  line-height: 150px;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 200%;
}

#founders .founders-box .profile {
  background: #fafaf1;
  padding: 30px 10px;
}

.fou-links {
  margin-top: 10px;
}

.fou-links i {
  padding: 10px 13px;
  border: 1px solid rgb(21, 21, 100);
  cursor: pointer;
  transition: 0.3s ease;
}

.fou-links i:hover {
  background: rgb(21, 21, 100);
  color: #fff;
  border: 1px solid rgb(21, 21, 100);

  cursor: pointer;
}

/* footer   */

/*ABOUT*/

#about-Home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 56, 0.7)),
    url('homeback.jpg');
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}
#about-Home h2 {
  color: white;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#about-container {
  display: flex;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}

#about-container .about-image {
  width: 60%;
  padding-right: 60px;
}

#about-container .about-image img {
  width: 100%;
}

#about-container .about-text {
  width: 40%;
}

#about-container .about-text h2 {
  color: #20303b;
  padding-bottom: 15px;
}

#about-container .about-text p {
  color: #686f7a;
  font-weight: 300;
}

#about-container .about-text .about-fe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

#about-container .about-text .about-fe img {
  width: 50px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text {
  width: 90%;
}

#about-container .about-text .about-fe .fe-text h5 {
  font-size: 16px;
  color: #29303b;
}

#trust {
  text-align: center;
  padding: 8vw;
}

#trust .trust-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#trust .trust-img img {
  width: 90px;
  height: auto;
}

/*Sermon*/
#Sermon-Home {
  background-image: url('word.jpg');
  width: 100%;
  height: 60vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: auto;
}
#Sermon-Home h2 {
  color: white;
  font-size: 2.2rem;
  letter-spacing: 1px;
}
#sermon-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8vw;
}

#sermon-container .sermons {
  width: 60%;
}

#sermon-container .sermons img {
  width: 100%;
  border-radius: 19px;
}

#sermon-container .sermons .post h3 {
  color: #29303b;
  padding: 15px 0 10px 0;
}

#sermon-container .sermons .post {
  padding-bottom: 60px;
}

#sermon-container .sermons p {
  color: #757373;
  padding-bottom: 20px;
}

#sermon-container .sermons .post a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: rgb(21 21 100);
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

#sermon-container .cate {
  width: 30%;
}

#sermon-container .cate h2 {
  padding-bottom: 7px;
}

#sermon-container .cate a {
  text-decoration: none;
  color: #20303b;
  font-weight: 500;
  line-height: 45px;
}

#sermon-container .sermonpost {
  width: 60%;
  margin: 0 auto;
}

#sermon-container .sermonpost p {
  text-align: justify;
  padding-bottom: 60px !important;
}

#Prayer-Home {
  background-image: url('pr.jpg');
  width: 100%;
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: auto;
}
#Prayer-Home h2 {
  color: white;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#online-Home {
  background-image: linear-gradient(rgba(6, 6, 83, 0.5), rgba(15, 19, 65, 0.5)),
    url('G6.jpg');
  width: 100%;
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}
#online-Home h2 {
  color: rgb(242, 243, 247);
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#contact-Home .h2 {
  color: rgb(242, 243, 247);
  font-size: 2.2rem;
  letter-spacing: 1px;
}

/* Online giving */

#online-giv {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(rgba(6, 6, 83, 0.5), rgba(15, 19, 65, 0.5)),
    url('on2.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#online-giv .reminder {
  color: rgb(251, 250, 252);
}

#online-giv .reminder img {
  width: 80px;
  background-size: cover;
  background-position: center;
  margin-right: 80px;
  margin-top: 50px;
}

#online-giv .reminder h1 {
  color: rgb(244, 242, 247);
}

#online-giv .form p {
  color: rgb(240, 237, 245);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 0;
}

#online-giv .reminder .time {
  display: flex;
  margin-top: 40px;
}

#online-giv .reminder .time .date {
  text-align: center;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0px rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 0 5px 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 1.1rem;
  font-weight: 600;
}

#online-giv .form {
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0px rgba(31, 38, 135, 0.37);
}

#online-giv .form input {
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid rgb(84, 40, 241);
  outline: none;
  border-radius: 8px;
}

#online-giv .form textarea {
  width: 100%;
  height: 70px;
  margin: 15px 0;
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid rgb(84, 40, 241);
  outline: none;
}
#online-giv .form textarea::placeholder {
  color: #666464;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 8px;
}

#online-giv .form input::placeholder {
  color: #afacac;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 8px;
}

#online-giv .form .btn {
  margin-top: 40px;
}

#online-giv .form a.yellow {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(247, 204, 17);
  transition: 0.3s ease;
}

#form a .yellow:hover {
  color: rgb(21, 21, 100);
  background-color: white;
}

/* Prayer Request */

#prayer-req {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(
      rgba(99, 122, 168, 0.5),
      rgba(81, 91, 233, 0.5)
    ),
    url('p7.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#prayer-req .reminder {
  color: #fff;
}

#prayer-req .reminder h1 {
  color: #fff;
}

#prayer-req .reminder .time {
  display: flex;
  margin-top: 40px;
}

#prayer-req .reminder .time .date {
  text-align: center;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0px rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 0 5px 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 1.1rem;
  font-weight: 600;
}

#prayer-req .form {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0px rgba(31, 38, 135, 0.37);
}

#prayer-req .form input {
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid rgb(84, 40, 241);
  outline: none;
}

#prayer-req .form textarea {
  width: 100%;
  height: 150px;
  margin: 15px 0;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgb(84, 40, 241);
  outline: none;
}
#prayer-req .form textarea::placeholder {
  color: #666464;
  font-weight: 500;
  font-size: 0.9rem;
}

#prayer-req .form input::placeholder {
  color: #413c3c;
  font-weight: 500;
  font-size: 0.9rem;
}

#prayer-req .form .btn {
  margin-top: 20px;
}

#prayer-req .form a.yellow {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(245, 205, 27);
  transition: 0.3s ease;
}

#prayer-req .form a .yellow:hover {
  color: rgb(21, 21, 100);
  background-color: white;
}

/* Contacts */

#contact {
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#contact-Home {
  background-image: linear-gradient(
      rgba(99, 122, 168, 0.5),
      rgba(81, 91, 233, 0.5)
    ),
    url('C.jpg');
  width: 100%;
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: auto;
}

#contact .getin {
  width: 350px;
}

#contact .getin h2 {
  color: #676769;
  font-size: 30px;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 16px;
}

#contact .getin p {
  color: #2c234d;
  line-height: 24px;
  margin-bottom: 33px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e4ed;
}

#contact .getin h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 15px;
}

#contact .getin .getin-details div {
  display: flex;
}

#contact .getin .getin-details div .get {
  font-size: 16px;
  line-height: 22px;
  color: #5838fc;
  margin-right: 20px;
}
#contact .getin .getin-details div P {
  font-size: 14px;
  line-height: 22px;
  border-bottom: none;
  margin-bottom: 15px;
}

#contact .getin .getin-details .fou-links i {
  margin-right: 8px;
}

#contact .form {
  width: 60%;
  background: #9f9ea0;
  padding: 40px;
  border-radius: 10px;
}

#contact .form h4 {
  font-size: 24px;
  color: #2c234d;
  line-height: 30px;
  margin-bottom: 8px;
}

#contact .form p {
  color: #2c234d;
  line-height: 24px;
  padding-bottom: 25px;
}

#contact .form .form-raw {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#contact .form .form-raw input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: white;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form .form-col input,
#contact .form .form-col textarea {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: white;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form button {
  font-size: 0.9rem;
  padding: 13px 25px;
  background: rgb(21 21 100);
  border-radius: 5px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

.text-hover-underline:hover {
  text-decoration: underline;
}


#map {
  width: 100%;
  height: 100%;
}

#map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 769px) {
  nav {
    padding: 15px 20px;
  }
  nav img {
    width: 130px;
  }

  #menu-btn {
    display: initial;
  }

  #menu-close {
    display: initial;
    font-size: 1.6rem;
    color: white;
    padding: 30px 0 20px 20px;
  }
  nav .navigation ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
  }

  nav .navigation ul.active {
    right: 0;
  }

  nav .navigation ul li {
    padding: 20px 0px 20px 40px;
    margin-left: 0;
  }

  nav .navigation ul li a {
    color: white;
  }

  #Home {
    padding-top: 0px;
  }
  #Home p {
    width: 90%;
  }
  #features {
    padding: 8vw 4vw 0 4vw;
  }

  #department {
    padding: 8vw 4vw 0vw 4vw;
    text-align: center;
    margin-top: 8vw;
  }
  #registration {
    padding: 6vw 4vw 6vw 4vw;
  }
  #registration .reminder .time {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  /*About*/
  #about-container {
    padding: 8vw 4vw 2vw 4vw;
  }

  #about-container .about-image {
    padding-right: 30px;
    border-radius: 9px;
  }

  #trust .trust-img img {
    width: 50px;
    height: auto;
  }

  /*Sermons*/
  #sermon-container {
    padding: 8vw 4vw;
  }

  #sermon-container .sermonpost {
    width: 100%;
    margin-top: 50px;
  }

  #sermon-container .sermonpost img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  /* Contacts */

  #contact {
    padding: 8vw 4vw;
  }
  #contact .getin {
    width: 250px;
  }
  /*prayer*/
  #prayer-req .form {
    padding: 8vw 4vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(35, 35, 85);
  }
}

@media (max-width: 475px) {
  #registration {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #registration .reminder .time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /*About*/
  #about-container {
    flex-direction: column-reverse;
  }

  #about-container .about-image {
    width: 100%;
    padding-right: 0px;
    border-radius: 9px;
  }
  #about-container .about-text {
    width: 100%;
    padding-bottom: 20px;
  }

  #trust .trust-img {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #trust .trust-img img {
    width: 60px;
    margin: 10px 15px;
    height: auto;
  }

  /* Sermons */
  #sermon-container {
    flex-direction: column;
  }
  #sermon-container .sermons {
    width: 100%;
  }
  #sermon-container .cate {
    width: 100%;
  }

  #sermon-container .sermonpost {
    width: 100%;
    margin-top: 90px;
  }

  #sermon-container .sermonpost img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  /*Contacts*/

  #contact {
    padding: 8vw 4vw;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
  }

  #contact .getin {
    width: 100%;
    margin-bottom: 30px;
  }

  #contact .form {
    width: 100%;
    padding: 40px 30px;
  }

  #contact .form .form-raw {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  #contact .form .form-raw input {
    width: 100%;
  }
  #contact .form .form-raw textarea {
    width: 100%;
  }

  /* Online giving */

  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(35, 35, 85);
    width: 100%;
  }

  * {
    margin: 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
  }

  #online-giv .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  #online-giv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  /*preayer reaquest*/
  #prayer-req {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

#hoverme:hover {

